# Federated Learning for Energy Meter Time Series Prediction

In [1]:
#@test {"skip": true}

!pip install --quiet --upgrade tensorflow-federated

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 68.3/68.3 MB 12.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.6/60.6 kB 7.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.5/103.5 kB 12.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.7/98.7 kB 11.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 558.5/558.5 kB 22.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 72.0/72.0 MB 8.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 29.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 52.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 255.8/255.8 kB 11.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 238.9/238.9 kB 10.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 359.4/359.4 kB 25.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 126.7/126.7 kB 7.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 532.6/532.6 kB 28.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 39.9/39.9 MB 9.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.6/4.6 MB 36.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 30.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.4/7.4 MB 42.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 72.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 69.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 146.0/146.0 kB 599.8 kB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.6/42.6 kB 5.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.7/5.7 MB 10.7 MB/s eta 0:00:00
  Building wheel for farmhashpy (setup.py) ... done
  Building wheel for jax (setup.py) ... done
  Building wheel for sqlalchemy (setup.py) ... done
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
arviz 0.15.1 requires scipy>=1.8.0, but you have scipy 1.7.3 which is incompatible.
chex 0.1.7 requires jax>=0.4.6, but you have jax 0.3.15 which is incompatible.
flax 0.6.9 requires jax>=0.4.2, but you have jax 0.3.15 which is incompatible.
google-colab 1.0.0 requires portpicker==1.3.9, but you have portpicker 1.5.2 which is incompatible.
orbax-checkpoint 0.2.1 requires jax>=0.4.8, but you have jax 0.3.15 which is incompatible.
pymc 5.1.2 requires cachetools>=4.2.1, but you have cachetools 3.1.1 which is incompatible.

In [ ]:
%load_ext tensorboard

In [2]:
import collections

import numpy as np
import tensorflow as tf
import tensorflow_federated as tff

np.random.seed(0)

tff.federated_computation(lambda: 'Hello, World!')()

b'Hello, World!'

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd

data = pd.read_csv('/content/drive/MyDrive/LAB3-20221109T160610Z-001/LCL-FullData/Cluster14data.csv')

In [6]:
# dividing the two year data into 24 parts (each 1 month data)
data['DateTime'] = pd.to_datetime(data['DateTime'])

In [84]:
data

             LCLid stdorToU            DateTime  KWH/hh  cluster
0        MAC000025      Std 2011-12-07 11:00:00   0.171       14
1        MAC000025      Std 2011-12-07 11:30:00   0.057       14
2        MAC000025      Std 2011-12-07 12:00:00   0.057       14
3        MAC000025      Std 2011-12-07 12:30:00   0.072       14
4        MAC000025      Std 2011-12-07 13:00:00   0.000       14
...            ...      ...                 ...     ...      ...
8412427  MAC005529      ToU 2014-02-27 22:30:00   0.414       14
8412428  MAC005529      ToU 2014-02-27 23:00:00   0.404       14
8412429  MAC005529      ToU 2014-02-27 23:30:00   0.120       14
8412430  MAC005529      ToU 2014-02-28 00:00:00   0.009       14
8412431  MAC005529      ToU 2014-02-28 00:00:00   0.009       14

[8412432 rows x 5 columns]

In [8]:
# Filter the DataFrame to include readings from Jan 01, 2012, to Jan 31, 2012
start_date1 = pd.to_datetime('2012-01-01')
end_date1 = pd.to_datetime('2012-01-31')
filtered_data1 = data[(data['DateTime'] >= start_date1) & (data['DateTime'] <= end_date1)]

# Filter the DataFrame to include readings from Feb 01, 2012, to Feb 29, 2012
start_date2 = pd.to_datetime('2012-02-01')
end_date2 = pd.to_datetime('2012-02-29')
filtered_data2 = data[(data['DateTime'] >= start_date2) & (data['DateTime'] <= end_date2)]

# Filter the DataFrame to include readings from March 01, 2012, to March 31, 2012
start_date3 = pd.to_datetime('2012-03-01')
end_date3 = pd.to_datetime('2012-03-31')
filtered_data3 = data[(data['DateTime'] >= start_date3) & (data['DateTime'] <= end_date3)]

# Filter the DataFrame to include readings from April 01, 2012, to Apr 30, 2012
start_date4 = pd.to_datetime('2012-04-01')
end_date4 = pd.to_datetime('2012-04-30')
filtered_data4 = data[(data['DateTime'] >= start_date4) & (data['DateTime'] <= end_date4)]

# Filter the DataFrame to include readings from May 01, 2012, to May 31, 2012
start_date5 = pd.to_datetime('2012-05-01')
end_date5 = pd.to_datetime('2012-05-31')
filtered_data5 = data[(data['DateTime'] >= start_date5) & (data['DateTime'] <= end_date5)]

# Filter the DataFrame to include readings from Jun 01, 2012, to Jun 30, 2012
start_date6 = pd.to_datetime('2012-06-01')
end_date6 = pd.to_datetime('2012-06-30')
filtered_data6 = data[(data['DateTime'] >= start_date6) & (data['DateTime'] <= end_date6)]

# Filter the DataFrame to include readings from Jul 01, 2012, to Jul 31, 2012
start_date7 = pd.to_datetime('2012-07-01')
end_date7 = pd.to_datetime('2012-07-31')
filtered_data7 = data[(data['DateTime'] >= start_date7) & (data['DateTime'] <= end_date7)]

# Filter the DataFrame to include readings from Aug 01, 2012, to Aug 31, 2012
start_date8 = pd.to_datetime('2012-08-01')
end_date8 = pd.to_datetime('2012-08-31')
filtered_data8 = data[(data['DateTime'] >= start_date8) & (data['DateTime'] <= end_date8)]

# Filter the DataFrame to include readings from Sep 01, 2012, to Sep 30, 2012
start_date9 = pd.to_datetime('2012-09-01')
end_date9 = pd.to_datetime('2012-09-30')
filtered_data9 = data[(data['DateTime'] >= start_date9) & (data['DateTime'] <= end_date9)]

# Filter the DataFrame to include readings from Oct 01, 2012, to Oct 31, 2012
start_date10 = pd.to_datetime('2012-10-01')
end_date10 = pd.to_datetime('2012-10-31')
filtered_data10 = data[(data['DateTime'] >= start_date10) & (data['DateTime'] <= end_date10)]

# Filter the DataFrame to include readings from Nov 01, 2012, to Nov 30, 2012
start_date11 = pd.to_datetime('2012-11-01')
end_date11 = pd.to_datetime('2012-11-30')
filtered_data11 = data[(data['DateTime'] >= start_date11) & (data['DateTime'] <= end_date11)]

# Filter the DataFrame to include readings from Dec 01, 2012, to Dec 31, 2012
start_date12 = pd.to_datetime('2012-12-01')
end_date12 = pd.to_datetime('2012-12-31')
filtered_data12 = data[(data['DateTime'] >= start_date12) & (data['DateTime'] <= end_date12)]


filtered_data1
filtered_data2
filtered_data3
filtered_data4
filtered_data5
filtered_data6
filtered_data7
filtered_data8
filtered_data9
filtered_data10
filtered_data11
filtered_data12

             LCLid stdorToU            DateTime  KWH/hh  cluster
17263    MAC000025      Std 2012-12-01 00:00:00   0.005       14
17264    MAC000025      Std 2012-12-01 00:30:00   0.014       14
17265    MAC000025      Std 2012-12-01 01:00:00   0.015       14
17266    MAC000025      Std 2012-12-01 01:30:00   0.005       14
17267    MAC000025      Std 2012-12-01 02:00:00   0.024       14
...            ...      ...                 ...     ...      ...
8392065  MAC005529      ToU 2012-12-30 22:00:00   0.229       14
8392066  MAC005529      ToU 2012-12-30 22:30:00   0.317       14
8392067  MAC005529      ToU 2012-12-30 23:00:00   0.300       14
8392068  MAC005529      ToU 2012-12-30 23:30:00   0.295       14
8392069  MAC005529      ToU 2012-12-31 00:00:00   0.326       14

[404413 rows x 5 columns]

In [13]:
filtered_data_2012 = [filtered_data1, filtered_data2, filtered_data3, filtered_data4, filtered_data5, filtered_data6, filtered_data7, filtered_data8, filtered_data9, filtered_data10, filtered_data11, filtered_data12 ]
filtered_data_2012[10]

             LCLid stdorToU            DateTime  KWH/hh  cluster
15822    MAC000025      Std 2012-11-01 00:00:00   0.021       14
15823    MAC000025      Std 2012-11-01 00:30:00   0.005       14
15824    MAC000025      Std 2012-11-01 01:00:00   0.030       14
15825    MAC000025      Std 2012-11-01 01:30:00   0.005       14
15826    MAC000025      Std 2012-11-01 02:00:00   0.025       14
...            ...      ...                 ...     ...      ...
8390576  MAC005529      ToU 2012-11-29 22:00:00   0.433       14
8390577  MAC005529      ToU 2012-11-29 22:30:00   0.434       14
8390578  MAC005529      ToU 2012-11-29 23:00:00   0.414       14
8390579  MAC005529      ToU 2012-11-29 23:30:00   0.086       14
8390580  MAC005529      ToU 2012-11-30 00:00:00   0.030       14

[393020 rows x 5 columns]

In [14]:
# Filter the DataFrame to include readings from Jan 01, 2013, to Jan 31, 2013
start_date13 = pd.to_datetime('2013-01-01')
end_date13 = pd.to_datetime('2013-01-31')
filtered_data13 = data[(data['DateTime'] >= start_date13) & (data['DateTime'] <= end_date13)]

# Filter the DataFrame to include readings from Feb 01, 2013, to Feb 28, 2013
start_date14 = pd.to_datetime('2013-02-01')
end_date14 = pd.to_datetime('2013-02-28')
filtered_data14 = data[(data['DateTime'] >= start_date14) & (data['DateTime'] <= end_date14)]

# Filter the DataFrame to include readings from March 01, 2013, to March 31, 2013
start_date15 = pd.to_datetime('2013-03-01')
end_date15 = pd.to_datetime('2013-03-31')
filtered_data15 = data[(data['DateTime'] >= start_date15) & (data['DateTime'] <= end_date15)]

# Filter the DataFrame to include readings from April 01, 2013, to Apr 30, 2013
start_date16 = pd.to_datetime('2013-04-01')
end_date16 = pd.to_datetime('2013-04-30')
filtered_data16 = data[(data['DateTime'] >= start_date16) & (data['DateTime'] <= end_date16)]

# Filter the DataFrame to include readings from May 01, 2013, to May 31, 2013
start_date17 = pd.to_datetime('2013-05-01')
end_date17 = pd.to_datetime('2013-05-31')
filtered_data17 = data[(data['DateTime'] >= start_date17) & (data['DateTime'] <= end_date17)]

# Filter the DataFrame to include readings from Jun 01, 2013, to Jun 30, 2013
start_date18 = pd.to_datetime('2013-06-01')
end_date18 = pd.to_datetime('2013-06-30')
filtered_data18 = data[(data['DateTime'] >= start_date18) & (data['DateTime'] <= end_date18)]

# Filter the DataFrame to include readings from Jul 01, 2013, to Jul 31, 2013
start_date19 = pd.to_datetime('2013-07-01')
end_date19 = pd.to_datetime('2013-07-31')
filtered_data19 = data[(data['DateTime'] >= start_date19) & (data['DateTime'] <= end_date19)]

# Filter the DataFrame to include readings from Aug 01, 2013, to Aug 31, 2013
start_date20 = pd.to_datetime('2013-08-01')
end_date20 = pd.to_datetime('2013-08-31')
filtered_data20 = data[(data['DateTime'] >= start_date20) & (data['DateTime'] <= end_date20)]

# Filter the DataFrame to include readings from Sep 01, 2013, to Sep 30, 2013
start_date21 = pd.to_datetime('2013-09-01')
end_date21 = pd.to_datetime('2013-09-30')
filtered_data21 = data[(data['DateTime'] >= start_date21) & (data['DateTime'] <= end_date21)]

# Filter the DataFrame to include readings from Oct 01, 2013, to Oct 31, 2013
start_date22 = pd.to_datetime('2013-10-01')
end_date22 = pd.to_datetime('2013-10-31')
filtered_data22 = data[(data['DateTime'] >= start_date22) & (data['DateTime'] <= end_date22)]

# Filter the DataFrame to include readings from Nov 01, 2013, to Nov 30, 2013
start_date23 = pd.to_datetime('2013-11-01')
end_date23 = pd.to_datetime('2013-11-30')
filtered_data23 = data[(data['DateTime'] >= start_date23) & (data['DateTime'] <= end_date23)]

# Filter the DataFrame to include readings from Dec 01, 2013, to Dec 31, 2013
start_date24 = pd.to_datetime('2013-12-01')
end_date24 = pd.to_datetime('2013-12-31')
filtered_data24 = data[(data['DateTime'] >= start_date24) & (data['DateTime'] <= end_date24)]


filtered_data13
filtered_data14
filtered_data15
filtered_data16
filtered_data17
filtered_data18
filtered_data19
filtered_data20
filtered_data21
filtered_data22
filtered_data23
filtered_data24

             LCLid stdorToU            DateTime  KWH/hh  cluster
34788    MAC000025      Std 2013-12-01 00:00:00   0.018       14
34789    MAC000025      Std 2013-12-01 00:30:00   0.004       14
34790    MAC000025      Std 2013-12-01 01:00:00   0.027       14
34791    MAC000025      Std 2013-12-01 01:30:00   0.004       14
34792    MAC000025      Std 2013-12-01 02:00:00   0.025       14
...            ...      ...                 ...     ...      ...
8409594  MAC005529      ToU 2013-12-30 22:00:00   0.391       14
8409595  MAC005529      ToU 2013-12-30 22:30:00   0.409       14
8409596  MAC005529      ToU 2013-12-30 23:00:00   0.416       14
8409597  MAC005529      ToU 2013-12-30 23:30:00   0.401       14
8409598  MAC005529      ToU 2013-12-31 00:00:00   0.401       14

[358428 rows x 5 columns]

In [15]:
filtered_data_2013 = [filtered_data13, filtered_data14, filtered_data15, filtered_data16, filtered_data17, filtered_data18, filtered_data19, filtered_data20, filtered_data21, filtered_data22, filtered_data23, filtered_data24 ]
filtered_data_2013[10]

             LCLid stdorToU            DateTime  KWH/hh  cluster
33347    MAC000025      Std 2013-11-01 00:00:00   0.021       14
33348    MAC000025      Std 2013-11-01 00:30:00   0.005       14
33349    MAC000025      Std 2013-11-01 01:00:00   0.025       14
33350    MAC000025      Std 2013-11-01 01:30:00   0.013       14
33351    MAC000025      Std 2013-11-01 02:00:00   0.005       14
...            ...      ...                 ...     ...      ...
8408105  MAC005529      ToU 2013-11-29 22:00:00   0.504       14
8408106  MAC005529      ToU 2013-11-29 22:30:00   0.353       14
8408107  MAC005529      ToU 2013-11-29 23:00:00   0.399       14
8408108  MAC005529      ToU 2013-11-29 23:30:00   0.354       14
8408109  MAC005529      ToU 2013-11-30 00:00:00   0.242       14

[349791 rows x 5 columns]

In [22]:
tmfrme = 12
lclid_list_2012 = []
selected_lclids_2012 = []
f_data_2012 = []
lclid_list_2013 = []
selected_lclids_2013 = []
f_data_2013 = []

for i in range(tmfrme):
    lclid_list_2012.append(filtered_data_2012[i]['LCLid'].unique())
    selected_lclids_2012.append(lclid_list_2012[i][:20])
    f_data_2012.append(filtered_data_2012[i][filtered_data_2012[i]['LCLid'].isin(selected_lclids_2012[i])])

    lclid_list_2013.append(filtered_data_2013[i]['LCLid'].unique())
    selected_lclids_2013.append(lclid_list_2013[i][:20])
    f_data_2013.append(filtered_data_2013[i][filtered_data_2013[i]['LCLid'].isin(selected_lclids_2013[i])])


f_data_2013[10]

            LCLid stdorToU            DateTime  KWH/hh  cluster
33347   MAC000025      Std 2013-11-01 00:00:00   0.021       14
33348   MAC000025      Std 2013-11-01 00:30:00   0.005       14
33349   MAC000025      Std 2013-11-01 01:00:00   0.025       14
33350   MAC000025      Std 2013-11-01 01:30:00   0.013       14
33351   MAC000025      Std 2013-11-01 02:00:00   0.005       14
...           ...      ...                 ...     ...      ...
720816  MAC000543      Std 2013-11-29 22:00:00   0.015       14
720817  MAC000543      Std 2013-11-29 22:30:00   0.035       14
720818  MAC000543      Std 2013-11-29 23:00:00   0.033       14
720819  MAC000543      Std 2013-11-29 23:30:00   0.021       14
720820  MAC000543      Std 2013-11-30 00:00:00   0.034       14

[27878 rows x 5 columns]

In [23]:
import numpy as np

In [28]:
datan_2012 = []
datan_2013 = []

for i in range(tmfrme):
    datan_2012.append(f_data_2012[i].copy())
    datan_2013.append(f_data_2013[i].copy())

datan_2013[8]

            LCLid stdorToU            DateTime  KWH/hh  cluster
30418   MAC000025      Std 2013-09-01 00:00:00   0.028       14
30419   MAC000025      Std 2013-09-01 00:30:00   0.003       14
30420   MAC000025      Std 2013-09-01 01:00:00   0.011       14
30421   MAC000025      Std 2013-09-01 01:30:00   0.029       14
30422   MAC000025      Std 2013-09-01 02:00:00   0.005       14
...           ...      ...                 ...     ...      ...
717887  MAC000543      Std 2013-09-29 22:00:00   0.031       14
717888  MAC000543      Std 2013-09-29 22:30:00   0.035       14
717889  MAC000543      Std 2013-09-29 23:00:00   0.015       14
717890  MAC000543      Std 2013-09-29 23:30:00   0.035       14
717891  MAC000543      Std 2013-09-30 00:00:00   0.034       14

[27636 rows x 5 columns]

In [29]:
for i in range(tmfrme):
    datan_2012[i]['KWH/hh'] = datan_2012[i]['KWH/hh'].astype(np.float32)
    datan_2013[i]['KWH/hh'] = datan_2013[i]['KWH/hh'].astype(np.float32)
    datan_2012[i] = datan_2012[i].drop('cluster', axis=1)
    datan_2012[i] = datan_2012[i].drop('stdorToU', axis=1)
    datan_2013[i] = datan_2013[i].drop('cluster', axis=1)
    datan_2013[i] = datan_2013[i].drop('stdorToU', axis=1)
    datan_2012[i].reset_index(drop=True, inplace=True)
    datan_2013[i].reset_index(drop=True, inplace=True)

In [33]:
for i in range(tmfrme):
  datan_2012[i]['DateTime'] = pd.to_datetime(datan_2012[i].DateTime).dt.tz_localize(None)
  datan_2013[i]['DateTime'] = pd.to_datetime(datan_2013[i].DateTime).dt.tz_localize(None)
  for j in range(len(datan_2012[i])):
    datan_2012[i]['DateTime'][j]=datan_2012[i]['DateTime'][j].timestamp()
  for k in range(len(datan_2013[i])):
    datan_2013[i]['DateTime'][k]=datan_2013[i]['DateTime'][k].timestamp()

<ipython-input-33-052dc1f6eda1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2012[i]['DateTime'][j]=datan_2012[i]['DateTime'][j].timestamp()
<ipython-input-33-052dc1f6eda1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2013[i]['DateTime'][k]=datan_2013[i]['DateTime'][k].timestamp()
<ipython-input-33-052dc1f6eda1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2012[i]['DateTime'][j]=datan_2012[i]['DateTime'][j].timestamp()
<ipython-input-33-052dc1f6eda1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2013[i]['DateTime'][k]=datan_2013[i]['DateTime'][k].timestamp()
<ipython-input-33-052dc1f6eda1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2012[i]['DateTime'][j]=datan_2012[i]['DateTime'][j].timestamp()
<ipython-input-33-052dc1f6eda1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2013[i]['DateTime'][k]=datan_2013[i]['DateTime'][k].timestamp()
<ipython-input-33-052dc1f6eda1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2012[i]['DateTime'][j]=datan_2012[i]['DateTime'][j].timestamp()
<ipython-input-33-052dc1f6eda1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2013[i]['DateTime'][k]=datan_2013[i]['DateTime'][k].timestamp()
<ipython-input-33-052dc1f6eda1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2012[i]['DateTime'][j]=datan_2012[i]['DateTime'][j].timestamp()
<ipython-input-33-052dc1f6eda1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2013[i]['DateTime'][k]=datan_2013[i]['DateTime'][k].timestamp()
<ipython-input-33-052dc1f6eda1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2012[i]['DateTime'][j]=datan_2012[i]['DateTime'][j].timestamp()
<ipython-input-33-052dc1f6eda1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2013[i]['DateTime'][k]=datan_2013[i]['DateTime'][k].timestamp()
<ipython-input-33-052dc1f6eda1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2012[i]['DateTime'][j]=datan_2012[i]['DateTime'][j].timestamp()
<ipython-input-33-052dc1f6eda1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2013[i]['DateTime'][k]=datan_2013[i]['DateTime'][k].timestamp()
<ipython-input-33-052dc1f6eda1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2012[i]['DateTime'][j]=datan_2012[i]['DateTime'][j].timestamp()
<ipython-input-33-052dc1f6eda1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2013[i]['DateTime'][k]=datan_2013[i]['DateTime'][k].timestamp()
<ipython-input-33-052dc1f6eda1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2012[i]['DateTime'][j]=datan_2012[i]['DateTime'][j].timestamp()
<ipython-input-33-052dc1f6eda1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2013[i]['DateTime'][k]=datan_2013[i]['DateTime'][k].timestamp()
<ipython-input-33-052dc1f6eda1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2012[i]['DateTime'][j]=datan_2012[i]['DateTime'][j].timestamp()
<ipython-input-33-052dc1f6eda1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2013[i]['DateTime'][k]=datan_2013[i]['DateTime'][k].timestamp()
<ipython-input-33-052dc1f6eda1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2012[i]['DateTime'][j]=datan_2012[i]['DateTime'][j].timestamp()
<ipython-input-33-052dc1f6eda1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2013[i]['DateTime'][k]=datan_2013[i]['DateTime'][k].timestamp()
<ipython-input-33-052dc1f6eda1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2012[i]['DateTime'][j]=datan_2012[i]['DateTime'][j].timestamp()
<ipython-input-33-052dc1f6eda1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datan_2013[i]['DateTime'][k]=datan_2013[i]['DateTime'][k].timestamp()

In [34]:
for i in range(tmfrme):
  datan_2012[i]['DateTime'] = datan_2012[i]['DateTime'].astype(np.float32)
  datan_2013[i]['DateTime'] = datan_2013[i]['DateTime'].astype(np.float32)
  datan_2012[i].sort_values(['LCLid', 'DateTime'], inplace=True)
  datan_2013[i].sort_values(['LCLid', 'DateTime'], inplace=True)

In [36]:
# Define the client window dataset function for a specific LCLid
def create_client_dataset_for_LCLid(client_data, window_size, step_size):
    client_windows = []
    client_targets = []
    num_readings = len(client_data)
    
    # Iterate over the readings using the sliding window
    for i in range(0, num_readings - window_size, step_size):
        window_start = i 
        window_end = i + window_size - 1
        prediction_index = window_end + step_size
        
        # Extract the window and the prediction target
        window = client_data.iloc[window_start:window_end + 1]['KWH/hh'].values
        target = client_data.iloc[prediction_index]['KWH/hh']
        
        client_windows.append(window)
        client_targets.append(target)
    
    # Create an ordered dictionary with 'x' and 'y' keys
    ordered_dict = collections.OrderedDict()
    ordered_dict['x'] = tf.stack(client_windows)
    ordered_dict['y'] = tf.expand_dims(client_targets, axis=-1)
    
    
    return ordered_dict

In [37]:
window_size = 336
step_size = 1

# Filter the dataframe for the specific LCLid
example_LCLid = datan_2012[0]['LCLid'].unique()[3]
clientyy_data = datan_2012[0][datan_2012[0]['LCLid'] == example_LCLid]

# Create the client dataset for the specific LCLid
example_client_dataset = create_client_dataset_for_LCLid(clientyy_data, window_size, step_size)

print("Client dataset for LCLid", example_LCLid)
print(example_client_dataset)

Client dataset for LCLid MAC000075
OrderedDict([('x', <tf.Tensor: shape=(1106, 336), dtype=float32, numpy=
array([[0.057, 0.032, 0.045, ..., 0.085, 0.064, 0.069],
       [0.032, 0.045, 0.066, ..., 0.064, 0.069, 0.047],
       [0.045, 0.066, 0.047, ..., 0.069, 0.047, 0.1  ],
       ...,
       [0.079, 0.088, 0.076, ..., 0.055, 0.086, 0.193],
       [0.088, 0.076, 0.045, ..., 0.086, 0.193, 0.247],
       [0.076, 0.045, 0.074, ..., 0.193, 0.247, 0.195]], dtype=float32)>), ('y', <tf.Tensor: shape=(1106, 1), dtype=float32, numpy=
array([[0.047],
       [0.1  ],
       [0.066],
       ...,
       [0.247],
       [0.195],
       [0.052]], dtype=float32)>)])

In [38]:
NUM_EPOCHS = 5
BATCH_SIZE = 20
SHUFFLE_BUFFER = 100
PREFETCH_BUFFER = 10

def preprocess_client_dataset(dataset):
    def batch_format_fn(element):
        return collections.OrderedDict(
            x=tf.reshape(element['x'], [-1, 336]),
            y=tf.reshape(element['y'], [-1, 1]))
    return dataset.repeat(NUM_EPOCHS).shuffle(SHUFFLE_BUFFER).batch(
        BATCH_SIZE).map(batch_format_fn).prefetch(PREFETCH_BUFFER)
 

preprocessed_example_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(example_client_dataset))


sample_batch = tf.nest.map_structure(lambda x: x.numpy(),
                                     next(iter(preprocessed_example_client_dataset)))

sample_batch

OrderedDict([('x',
              array([[0.086, 0.029, 0.061, ..., 0.04 , 0.071, 0.069],
                     [0.051, 0.097, 0.035, ..., 0.085, 0.088, 0.089],
                     [0.059, 0.029, 0.059, ..., 0.285, 0.119, 0.115],
                     ...,
                     [0.046, 0.03 , 0.109, ..., 0.074, 0.046, 0.112],
                     [0.061, 0.028, 0.062, ..., 0.053, 0.078, 0.054],
                     [0.078, 0.053, 0.043, ..., 0.271, 0.087, 0.1  ]], dtype=float32)),
             ('y',
              array([[0.22 ],
                     [0.08 ],
                     [0.111],
                     [0.05 ],
                     [0.062],
                     [0.061],
                     [0.044],
                     [0.285],
                     [0.04 ],
                     [0.04 ],
                     [0.05 ],
                     [0.08 ],
                     [0.062],
                     [0.049],
                     [0.078],
                     [0.414],
                     [0.071],
                     [0.043],
                     [0.085],
                     [0.049]], dtype=float32))])

In [40]:
NUM_CLIENTS = 10 # Replace with desired number of clients
sample_clients_2012 = [] 
sample_clients_2013 = [] 
sample_clients_list_2012 = [] 
sample_clients_list_2013 = [] 

for i in range(tmfrme):
  sample_clients_2012.append(datan_2012[i]['LCLid'].unique()[0:NUM_CLIENTS])
  sample_clients_2013.append(datan_2013[i]['LCLid'].unique()[0:NUM_CLIENTS])
  sample_clients_list_2012.append(sample_clients_2012[i].tolist())
  sample_clients_list_2013.append(sample_clients_2013[i].tolist())

sample_clients_list_2012[7]

['MAC000025',
 'MAC000104',
 'MAC000160',
 'MAC000200',
 'MAC000229',
 'MAC000283',
 'MAC000297',
 'MAC000318',
 'MAC000319',
 'MAC000391']

In [41]:
# Iterate over unique LCLids in the dataframe
client_datasets_2012_1 = {}
for LCLid in sample_clients_list_2012[0]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2012[0][datan_2012[0]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2012_1[LCLid] = preprocessed_client_dataset

    print("Client dataset for LCLid", LCLid)
    print(sam_batch)

Client dataset for LCLid MAC000025
OrderedDict([('x', array([[0.042, 1.499, 0.56 , ..., 0.037, 0.014, 0.04 ],
       [0.024, 0.   , 0.01 , ..., 0.   , 0.023, 0.002],
       [0.016, 0.   , 0.459, ..., 0.   , 0.153, 0.057],
       ...,
       [0.   , 0.459, 0.227, ..., 0.153, 0.057, 0.598],
       [0.011, 0.   , 0.02 , ..., 0.022, 0.   , 0.023],
       [0.172, 0.068, 0.017, ..., 0.024, 0.   , 0.022]], dtype=float32)), ('y', array([[2.730e-01],
       [1.600e-02],
       [5.980e-01],
       [7.500e-02],
       [2.300e-02],
       [5.400e-02],
       [7.200e-02],
       [6.900e-02],
       [2.100e-02],
       [0.000e+00],
       [1.917e+00],
       [2.300e-02],
       [1.600e-02],
       [7.300e-02],
       [5.800e-02],
       [7.700e-02],
       [3.000e-03],
       [7.140e-01],
       [1.000e-03],
       [3.700e-02]], dtype=float32))])
Client dataset for LCLid MAC000048
OrderedDict([('x', array([[0.111, 0.11 , 0.127, ..., 0.055, 0.054, 0.055],
       [0.111, 0.113, 0.11 , ..., 0.055, 0.054, 0.072],
       [0.131, 0.141, 0.128, ..., 0.055, 0.056, 0.059],
       ...,
       [0.056, 0.055, 0.055, ..., 0.056, 0.083, 0.082],
       [2.026, 0.681, 0.63 , ..., 0.228, 0.202, 0.195],
       [0.11 , 0.111, 0.133, ..., 0.464, 0.475, 0.462]], dtype=float32)), ('y', array([[0.055],
       [0.081],
       [0.082],
       [0.059],
       [0.147],
       [0.256],
       [0.057],
       [0.756],
       [0.218],
       [0.056],
       [0.159],
       [0.057],
       [0.192],
       [0.072],
       [0.056],
       [0.475],
       [0.091],
       [0.065],
       [0.369],
       [0.443]], dtype=float32))])
Client dataset for LCLid MAC000065
OrderedDict([('x', array([[0.265, 0.297, 0.057, ..., 0.032, 0.193, 0.048],
       [0.058, 0.439, 0.101, ..., 0.527, 0.105, 0.039],
       [0.029, 0.03 , 0.032, ..., 0.016, 0.033, 0.014],
       ...,
       [0.307, 0.333, 0.348, ..., 0.121, 0.133, 0.355],
       [0.122, 0.04 , 0.122, ..., 0.045, 0.027, 0.093],
       [0.021, 0.031, 0.031, ..., 0.029, 0.032, 0.023]], dtype=float32)), ('y', array([[0.061],
       [0.048],
       [0.034],
       [0.142],
       [0.038],
       [0.133],
       [0.021],
       [0.102],
       [0.028],
       [0.088],
       [0.029],
       [0.229],
       [0.121],
       [0.032],
       [0.031],
       [0.021],
       [0.245],
       [0.281],
       [0.527],
       [0.023]], dtype=float32))])
Client dataset for LCLid MAC000075
OrderedDict([('x', array([[0.063, 0.031, 0.092, ..., 0.05 , 0.05 , 0.04 ],
       [0.03 , 0.083, 0.049, ..., 0.22 , 0.097, 0.066],
       [0.039, 0.063, 0.065, ..., 0.088, 0.044, 0.064],
       ...,
       [0.029, 0.059, 0.07 , ..., 0.119, 0.115, 0.111],
       [0.07 , 0.043, 0.046, ..., 0.111, 0.043, 0.074],
       [0.049, 0.038, 1.29 , ..., 0.049, 0.079, 0.06 ]], dtype=float32)), ('y', array([[0.088],
       [0.072],
       [0.034],
       [0.085],
       [0.12 ],
       [0.056],
       [0.045],
       [0.063],
       [0.089],
       [0.116],
       [0.329],
       [0.111],
       [0.084],
       [0.053],
       [0.066],
       [0.082],
       [0.285],
       [0.043],
       [0.046],
       [0.036]], dtype=float32))])
Client dataset for LCLid MAC000104
OrderedDict([('x', array([[0.088, 0.101, 0.695, ..., 0.102, 0.096, 0.25 ],
       [0.162, 0.179, 0.076, ..., 0.337, 0.281, 0.053],
       [0.053, 0.103, 0.11 , ..., 0.096, 0.096, 0.095],
       ...,
       [0.347, 0.241, 0.256, ..., 0.468, 0.239, 0.728],
       [0.042, 0.046, 0.063, ..., 0.033, 0.033, 0.066],
       [0.241, 0.256, 0.162, ..., 0.239, 0.728, 0.337]], dtype=float32)), ('y', array([[0.212],
       [0.068],
       [0.095],
       [0.175],
       [0.233],
       [0.468],
       [0.096],
       [0.123],
       [0.053],
       [0.371],
       [0.285],
       [0.084],
       [0.166],
       [0.033],
       [0.327],
       [0.43 ],
       [0.239],
       [0.337],
       [0.102],
       [0.281]], dtype=float32))])
Client dataset for LCLid MAC000160
OrderedDict([('x', array([[0.054, 0.04 , 0.041, ..., 0.039, 0.1  , 0.071],
       [0.056, 0.034, 0.056, ..., 0.099, 0.07 , 0.141],
       [0.136, 0.225, 0.434, ..., 0.046, 0.04 , 0.056],
       ...,
       [0.041, 0.056, 0.027, ..., 0.028, 0.055, 0.038],
       [0.05 , 0.042, 0.037, ..., 0.055, 0.027, 0.055],
       [0.41 , 0.256, 0.239, ..., 0.475, 0.247, 0.232]], dtype=float32)), ('y', array([[0.098],
       [0.037],
       [0.031],
       [0.067],
       [0.062],
       [0.05 ],
       [0.033],
       [0.087],
       [0.185],
       [0.102],
       [0.198],
       [0.057],
       [0.056],
       [0.129],
       [0.055],
       [0.041],
       [0.029],
       [0.049],
       [0.027],
       [0.322]], dtype=float32))])
Client dataset for LCLid MAC000200
OrderedDict([('x', array([[0.013, 0.014, 0.063, ..., 0.014, 0.012, 0.013],
       [0.078, 0.079, 0.025, ..., 0.025, 0.025, 0.036],
       [0.013, 0.012, 0.021, ..., 0.107, 0.118, 0.079],
       ...,
       [0.044, 0.036, 0.012, ..., 0.073, 0.067, 0.092],
       [0.024, 0.025, 0.063, ..., 0.15 , 1.233, 0.18 ],
       [0.012, 0.111, 0.261, ..., 0.012, 0.051, 0.053]], dtype=float32)), ('y', array([[0.025],
       [0.077],
       [0.275],
       [0.013],
       [0.012],
       [0.135],
       [0.037],
       [0.107],
       [0.029],
       [0.269],
       [0.07 ],
       [0.031],
       [0.148],
       [0.062],
       [0.069],
       [0.03 ],
       [0.028],
       [0.056],
       [0.599],
       [0.012]], dtype=float32))])
Client dataset for LCLid MAC000229
OrderedDict([('x', array([[0.177, 0.137, 0.111, ..., 0.087, 0.097, 0.071],
       [0.243, 0.174, 0.196, ..., 0.103, 0.101, 0.103],
       [0.291, 0.183, 0.182, ..., 0.192, 0.186, 0.291],
       ...,
       [0.252, 0.181, 0.338, ..., 0.268, 0.242, 0.391],
       [0.774, 0.347, 0.139, ..., 0.257, 0.262, 0.327],
       [0.313, 0.173, 0.161, ..., 0.248, 0.16 , 0.221]], dtype=float32)), ('y', array([[0.086],
       [0.12 ],
       [0.182],
       [0.19 ],
       [0.057],
       [0.09 ],
       [0.125],
       [0.088],
       [0.11 ],
       [0.353],
       [0.085],
       [0.551],
       [0.257],
       [0.088],
       [0.084],
       [0.101],
       [0.242],
       [0.21 ],
       [0.841],
       [0.213]], dtype=float32))])
Client dataset for LCLid MAC004461
OrderedDict([('x', array([[0.17 , 0.084, 0.103, ..., 0.117, 0.055, 0.082],
       [0.099, 0.066, 0.1  , ..., 0.162, 0.095, 0.077],
       [0.1  , 0.027, 0.048, ..., 0.094, 0.057, 0.049],
       ...,
       [0.103, 0.092, 0.064, ..., 0.082, 0.268, 0.081],
       [0.099, 0.139, 0.11 , ..., 0.08 , 0.076, 0.18 ],
       [0.139, 0.11 , 0.099, ..., 0.076, 0.18 , 0.162]], dtype=float32)), ('y', array([[0.268],
       [0.075],
       [0.016],
       [0.077],
       [0.095],
       [0.109],
       [0.02 ],
       [0.079],
       [0.076],
       [0.083],
       [0.144],
       [0.115],
       [0.084],
       [0.082],
       [0.083],
       [0.081],
       [0.018],
       [0.112],
       [0.162],
       [0.095]], dtype=float32))])
Client dataset for LCLid MAC004481
OrderedDict([('x', array([[0.061, 0.033, 0.033, ..., 0.028, 0.191, 0.252],
       [0.045, 0.053, 0.078, ..., 0.102, 0.047, 0.127],
       [0.047, 0.028, 0.   , ..., 0.057, 0.052, 0.047],
       ...,
       [0.074, 0.067, 0.026, ..., 0.03 , 0.042, 0.088],
       [0.308, 0.106, 0.056, ..., 0.309, 0.065, 0.257],
       [0.048, 0.086, 0.049, ..., 0.054, 0.04 , 0.031]], dtype=float32)), ('y', array([[0.091],
       [0.046],
       [0.082],
       [0.03 ],
       [0.085],
       [0.092],
       [0.057],
       [0.071],
       [0.028],
       [0.083],
       [0.096],
       [0.123],
       [0.054],
       [0.128],
       [0.049],
       [0.059],
       [0.065],
       [0.077],
       [0.068],
       [0.058]], dtype=float32))])

In [42]:
# Iterate over unique LCLids in the dataframe
client_datasets_2012_2 = {}
for LCLid in sample_clients_list_2012[1]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2012[1][datan_2012[1]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2012_2[LCLid] = preprocessed_client_dataset

In [43]:
# Iterate over unique LCLids in the dataframe
client_datasets_2012_3 = {}
for LCLid in sample_clients_list_2012[2]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2012[2][datan_2012[2]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2012_3[LCLid] = preprocessed_client_dataset

In [44]:
# Iterate over unique LCLids in the dataframe
client_datasets_2012_4 = {}
for LCLid in sample_clients_list_2012[3]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2012[3][datan_2012[3]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2012_4[LCLid] = preprocessed_client_dataset

In [45]:
# Iterate over unique LCLids in the dataframe
client_datasets_2012_5 = {}
for LCLid in sample_clients_list_2012[4]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2012[4][datan_2012[4]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2012_5[LCLid] = preprocessed_client_dataset

In [46]:
# Iterate over unique LCLids in the dataframe
client_datasets_2012_6 = {}
for LCLid in sample_clients_list_2012[5]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2012[5][datan_2012[5]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2012_6[LCLid] = preprocessed_client_dataset

In [47]:
# Iterate over unique LCLids in the dataframe
client_datasets_2012_7 = {}
for LCLid in sample_clients_list_2012[6]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2012[6][datan_2012[6]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2012_7[LCLid] = preprocessed_client_dataset

In [48]:
# Iterate over unique LCLids in the dataframe
client_datasets_2012_8 = {}
for LCLid in sample_clients_list_2012[7]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2012[7][datan_2012[7]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2012_8[LCLid] = preprocessed_client_dataset

In [49]:
# Iterate over unique LCLids in the dataframe
client_datasets_2012_9 = {}
for LCLid in sample_clients_list_2012[8]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2012[8][datan_2012[8]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2012_9[LCLid] = preprocessed_client_dataset

In [50]:
# Iterate over unique LCLids in the dataframe
client_datasets_2012_10 = {}
for LCLid in sample_clients_list_2012[9]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2012[9][datan_2012[9]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2012_10[LCLid] = preprocessed_client_dataset

In [51]:
# Iterate over unique LCLids in the dataframe
client_datasets_2012_11 = {}
for LCLid in sample_clients_list_2012[10]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2012[11][datan_2012[11]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2012_11[LCLid] = preprocessed_client_dataset

In [52]:
# Iterate over unique LCLids in the dataframe
client_datasets_2012_12 = {}
for LCLid in sample_clients_list_2012[11]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2012[11][datan_2012[11]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2012_12[LCLid] = preprocessed_client_dataset

In [53]:
# Iterate over unique LCLids in the dataframe
client_datasets_2013_1 = {}
for LCLid in sample_clients_list_2013[0]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2013[0][datan_2013[0]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2013_1[LCLid] = preprocessed_client_dataset

In [54]:
# Iterate over unique LCLids in the dataframe
client_datasets_2013_2 = {}
for LCLid in sample_clients_list_2013[1]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2013[1][datan_2013[1]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2013_2[LCLid] = preprocessed_client_dataset

In [55]:
# Iterate over unique LCLids in the dataframe
client_datasets_2013_3 = {}
for LCLid in sample_clients_list_2013[2]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2013[2][datan_2013[2]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2013_3[LCLid] = preprocessed_client_dataset

In [56]:
# Iterate over unique LCLids in the dataframe
client_datasets_2013_4 = {}
for LCLid in sample_clients_list_2013[3]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2013[3][datan_2013[3]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2013_4[LCLid] = preprocessed_client_dataset

In [57]:
# Iterate over unique LCLids in the dataframe
client_datasets_2013_5 = {}
for LCLid in sample_clients_list_2013[4]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2013[4][datan_2013[4]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2013_5[LCLid] = preprocessed_client_dataset

In [58]:
# Iterate over unique LCLids in the dataframe
client_datasets_2013_6 = {}
for LCLid in sample_clients_list_2013[5]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2013[5][datan_2013[5]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2013_6[LCLid] = preprocessed_client_dataset

In [59]:
# Iterate over unique LCLids in the dataframe
client_datasets_2013_7 = {}
for LCLid in sample_clients_list_2013[6]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2013[6][datan_2013[6]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2013_7[LCLid] = preprocessed_client_dataset

In [60]:
# Iterate over unique LCLids in the dataframe
client_datasets_2013_8 = {}
for LCLid in sample_clients_list_2013[7]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2013[7][datan_2013[7]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2013_8[LCLid] = preprocessed_client_dataset

In [61]:
# Iterate over unique LCLids in the dataframe
client_datasets_2013_9 = {}
for LCLid in sample_clients_list_2013[8]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2013[8][datan_2013[8]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2013_9[LCLid] = preprocessed_client_dataset

In [62]:
# Iterate over unique LCLids in the dataframe
client_datasets_2013_10 = {}
for LCLid in sample_clients_list_2013[9]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2013[9][datan_2013[9]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2013_10[LCLid] = preprocessed_client_dataset

In [63]:
# Iterate over unique LCLids in the dataframe
client_datasets_2013_11 = {}
for LCLid in sample_clients_list_2013[10]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2013[10][datan_2013[10]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2013_11[LCLid] = preprocessed_client_dataset

In [64]:
# Iterate over unique LCLids in the dataframe
client_datasets_2013_12 = {}
for LCLid in sample_clients_list_2013[11]:
    # Filter the dataframe for the current LCLid
    client_data = datan_2013[11][datan_2013[11]['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    client_datasets_2013_12[LCLid] = preprocessed_client_dataset

In [67]:
#client_datasets_2012_6
client_datasets_2013_2

{'MAC000025': <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 'MAC000104': <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 'MAC000160': <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 'MAC000200': <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 'MAC000229': <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 'MAC000283': <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 'MAC000297': <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 'MAC000318': <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 'MAC000319': <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 'MAC000391': <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>}

In [68]:
client_datasets_2012 = np.array([
    client_datasets_2012_1,
    client_datasets_2012_2,
    client_datasets_2012_3,
    client_datasets_2012_4,
    client_datasets_2012_5,
    client_datasets_2012_6,
    client_datasets_2012_7,
    client_datasets_2012_8,
    client_datasets_2012_9,
    client_datasets_2012_10,
    client_datasets_2012_11,
    client_datasets_2012_12
])

client_datasets_2013 = np.array([
    client_datasets_2013_1,
    client_datasets_2013_2,
    client_datasets_2013_3,
    client_datasets_2013_4,
    client_datasets_2013_5,
    client_datasets_2013_6,
    client_datasets_2013_7,
    client_datasets_2013_8,
    client_datasets_2013_9,
    client_datasets_2013_10,
    client_datasets_2013_11,
    client_datasets_2013_12
])

In [69]:
sample_clients_list_2012[5]

['MAC000025',
 'MAC000104',
 'MAC000160',
 'MAC000200',
 'MAC000229',
 'MAC000283',
 'MAC000297',
 'MAC000318',
 'MAC000319',
 'MAC000391']

In [70]:
def make_federated_data(client_datasets, sample_clients_list):
    return [
        client_datasets[x] for x in sample_clients_list
    ]

In [72]:
federated_train_data_2012 = []
federated_train_data_2013 = []

for i in range(tmfrme):
  federated_train_data_2012.append(make_federated_data(client_datasets_2012[i], sample_clients_list_2012[i]))
  federated_train_data_2013.append(make_federated_data(client_datasets_2013[i], sample_clients_list_2013[i]))

print(f'Number of client datasets: {len(federated_train_data_2012[0])}')
print(f'First dataset: {federated_train_data_2012[0][0]}')
print(f'Second dataset: {federated_train_data_2012[0][1]}')

Number of client datasets: 10
First dataset: <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>
Second dataset: <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>

In [73]:
preprocessed_example_client_dataset.element_spec

OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)),
             ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])

In [74]:
def create_model():
    model = tf.keras.Sequential([
        tf.keras.layers.Dense(64, activation='relu', input_shape=(336,)),
        tf.keras.layers.Dense(32, activation='relu'),
        tf.keras.layers.Dense(1)
    ])
    return model

In [75]:
def model_fn():
    keras_model = create_model()
    loss = tf.keras.losses.MeanSquaredError() 
    tff_model = tff.learning.models.from_keras_model(
        keras_model,
        input_spec=preprocessed_example_client_dataset.element_spec,
        loss=loss,
        metrics=[tf.keras.metrics.MeanAbsoluteError()]
    )
    return tff_model

In [76]:
model = model_fn()
print(model)

<tensorflow_federated.python.learning.models.keras_utils._KerasModel object at 0x7fd1054fc430>

In [77]:
# training starts
training_process = tff.learning.algorithms.build_weighted_fed_avg(
    model_fn,
    client_optimizer_fn=lambda: tf.keras.optimizers.SGD(learning_rate=0.02),
    server_optimizer_fn=lambda: tf.keras.optimizers.SGD(learning_rate=1.0))

In [78]:
print(training_process.initialize.type_signature.formatted_representation())

( -> <
  global_model_weights=<
    trainable=<
      float32[336,64],
      float32[64],
      float32[64,32],
      float32[32],
      float32[32,1],
      float32[1]
    >,
    non_trainable=<>
  >,
  distributor=<>,
  client_work=<>,
  aggregator=<
    value_sum_process=<>,
    weight_sum_process=<>
  >,
  finalizer=<
    int64,
    float32[336,64],
    float32[64],
    float32[64,32],
    float32[32],
    float32[32,1],
    float32[1]
  >
>@SERVER)

In [79]:
train_state = training_process.initialize()

In [80]:
federated_train_data_2012[0]

[<_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>]

In [81]:
federated_train_data_2013[6]

[<_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>,
 <_PrefetchDataset element_spec=OrderedDict([('x', TensorSpec(shape=(None, 336), dtype=tf.float32, name=None)), ('y', TensorSpec(shape=(None, 1), dtype=tf.float32, name=None))])>]

In [83]:
NUM_ROUNDS = 12
for round_num in range(1, NUM_ROUNDS+1):
  result = training_process.next(train_state, federated_train_data_2012[round_num-1])
  train_state = result.state
  train_metrics = result.metrics
  print('round {:2d}, metrics={}'.format(round_num, train_metrics))

round  1, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.099647164), ('loss', 0.03408825), ('num_examples', 55300), ('num_batches', 2770)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round  2, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.09152479), ('loss', 0.029405337), ('num_examples', 50485), ('num_batches', 2530)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round  3, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.10100907), ('loss', 0.03482601), ('num_examples', 49165), ('num_batches', 2463)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round  4, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.08574918), ('loss', 0.029879978), ('num_examples', 52850), ('num_batches', 2647)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round  5, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.078378655), ('loss', 0.023830293), ('num_examples', 55265), ('num_batches', 2768)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round  6, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.0747076), ('loss', 0.023033572), ('num_examples', 52890), ('num_batches', 2650)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round  7, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.07270582), ('loss', 0.02074937), ('num_examples', 55295), ('num_batches', 2770)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round  8, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.06436126), ('loss', 0.016228996), ('num_examples', 55275), ('num_batches', 2769)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round  9, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.058367517), ('loss', 0.012776308), ('num_examples', 52895), ('num_batches', 2650)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round 10, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.08243488), ('loss', 0.024023509), ('num_examples', 55290), ('num_batches', 2770)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round 11, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.096186414), ('loss', 0.031486686), ('num_examples', 55295), ('num_batches', 2770)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round 12, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.094861075), ('loss', 0.03073404), ('num_examples', 55295), ('num_batches', 2770)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])

EVALUATION

In [85]:
# Filter the DataFrame to include readings from Jan 01, 2014, to Jan 31, 2014
teststart_date = pd.to_datetime('2014-01-01')
testend_date = pd.to_datetime('2014-01-31')
test_data = data[(data['DateTime'] >= start_date1) & (data['DateTime'] <= end_date1)]

In [86]:
# Select 5 unique LCLids
lclid_lt = test_data['LCLid'].unique()
sel_lclids = lclid_lt[:1]

# Filter data for the selected LCLids
ft_data = test_data[test_data['LCLid'].isin(sel_lclids)]

In [87]:
ft_data

          LCLid stdorToU            DateTime  KWH/hh  cluster
1179  MAC000025      Std 2012-01-01 00:00:00   0.056       14
1180  MAC000025      Std 2012-01-01 00:30:00   0.020       14
1181  MAC000025      Std 2012-01-01 01:00:00   0.017       14
1182  MAC000025      Std 2012-01-01 01:30:00   0.000       14
1183  MAC000025      Std 2012-01-01 02:00:00   0.023       14
...         ...      ...                 ...     ...      ...
2616  MAC000025      Std 2012-01-30 22:00:00   0.023       14
2617  MAC000025      Std 2012-01-30 22:30:00   0.002       14
2618  MAC000025      Std 2012-01-30 23:00:00   0.004       14
2619  MAC000025      Std 2012-01-30 23:30:00   0.019       14
2620  MAC000025      Std 2012-01-31 00:00:00   0.000       14

[1442 rows x 5 columns]

In [88]:
ft_data['KWH/hh'] = ft_data['KWH/hh'].astype(np.float32)

<ipython-input-88-398836f43ad2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ft_data['KWH/hh'] = ft_data['KWH/hh'].astype(np.float32)

In [89]:
ft_data = ft_data.drop('cluster', axis=1)
ft_data = ft_data.drop('stdorToU', axis=1)
ft_data.reset_index(drop=True, inplace=True)

In [90]:
ft_data['DateTime'] = pd.to_datetime(ft_data.DateTime).dt.tz_localize(None)
for i in range(len(ft_data)):
  ft_data['DateTime'][i]=ft_data['DateTime'][i].timestamp()

<ipython-input-90-fe80fcc7ed1b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ft_data['DateTime'][i]=ft_data['DateTime'][i].timestamp()

In [91]:
ft_data['DateTime'] = ft_data['DateTime'].astype(np.float32)

In [92]:
# Sort the data by 'LCLid' and 'DateTime'
ft_data.sort_values(['LCLid', 'DateTime'], inplace=True)

In [94]:
test_client = ft_data['LCLid'].unique()[0:1]
test_client

array(['MAC000025'], dtype=object)

In [95]:
test_dataset = {}

for LCLid in test_client:
    # Filter the dataframe for the current LCLid
    client_data = ft_data[ft_data['LCLid'] == LCLid]

    clientxx_dataset = create_client_dataset_for_LCLid(client_data, window_size, step_size)
    
    # Create the client dataset for the current LCLid
    preprocessed_client_dataset = preprocess_client_dataset(tf.data.Dataset.from_tensor_slices(clientxx_dataset))
    
    # Extract a sample batch from the preprocessed dataset
    sam_batch = tf.nest.map_structure(lambda x: x.numpy(), next(iter(preprocessed_client_dataset)))
    
    # Store the preprocessed dataset in the dictionary with LCLid as the key
    test_dataset[LCLid] = preprocessed_client_dataset

    print("Client dataset for LCLid", LCLid)
    print(sam_batch)

Client dataset for LCLid MAC000025
OrderedDict([('x', array([[0.007, 0.   , 0.019, ..., 0.001, 0.002, 0.022],
       [0.   , 0.026, 0.19 , ..., 0.009, 0.   , 0.022],
       [0.024, 0.   , 0.01 , ..., 0.   , 0.023, 0.002],
       ...,
       [0.043, 0.628, 0.028, ..., 0.015, 0.126, 0.119],
       [0.045, 0.016, 0.   , ..., 0.001, 0.   , 0.153],
       [0.689, 0.631, 0.016, ..., 0.023, 0.126, 0.077]], dtype=float32)), ('y', array([[0.   ],
       [0.001],
       [0.016],
       [0.032],
       [0.   ],
       [0.022],
       [0.058],
       [0.016],
       [0.024],
       [0.598],
       [0.119],
       [0.023],
       [0.023],
       [0.013],
       [0.072],
       [0.037],
       [0.005],
       [0.64 ],
       [0.057],
       [0.74 ]], dtype=float32))])

In [96]:
# Make federated test data
federated_test_data = make_federated_data(test_dataset, test_client)

In [97]:
evaluation_process = tff.learning.algorithms.build_fed_eval(model_fn)

In [98]:
print(evaluation_process.next.type_signature.formatted_representation())

(<
  state=<
    global_model_weights=<
      trainable=<
        float32[336,64],
        float32[64],
        float32[64,32],
        float32[32],
        float32[32,1],
        float32[1]
      >,
      non_trainable=<>
    >,
    distributor=<>,
    client_work=<
      <>,
      <
        mean_absolute_error=<
          float32,
          float32
        >,
        loss=<
          float32,
          float32
        >,
        num_examples=<
          int64
        >,
        num_batches=<
          int64
        >
      >
    >,
    aggregator=<
      value_sum_process=<>,
      weight_sum_process=<>
    >,
    finalizer=<>
  >@SERVER,
  client_data={<
    x=float32[?,336],
    y=float32[?,1]
  >*}@CLIENTS
> -> <
  state=<
    global_model_weights=<
      trainable=<
        float32[336,64],
        float32[64],
        float32[64,32],
        float32[32],
        float32[32,1],
        float32[1]
      >,
      non_trainable=<>
    >,
    distributor=<>,
    client_work=<
      <>,
      <
        mean_absolute_error=<
          float32,
          float32
        >,
        loss=<
          float32,
          float32
        >,
        num_examples=<
          int64
        >,
        num_batches=<
          int64
        >
      >
    >,
    aggregator=<
      value_sum_process=<>,
      weight_sum_process=<>
    >,
    finalizer=<>
  >@SERVER,
  metrics=<
    distributor=<>,
    client_work=<
      eval=<
        current_round_metrics=<
          mean_absolute_error=float32,
          loss=float32,
          num_examples=int64,
          num_batches=int64
        >,
        total_rounds_metrics=<
          mean_absolute_error=float32,
          loss=float32,
          num_examples=int64,
          num_batches=int64
        >
      >
    >,
    aggregator=<
      mean_value=<>,
      mean_weight=<>
    >,
    finalizer=<>
  >@SERVER
>)

In [99]:
evaluation_state = evaluation_process.initialize()
model_weights = training_process.get_model_weights(train_state)
evaluation_state = evaluation_process.set_model_weights(evaluation_state, model_weights)

In [100]:
evaluation_output = evaluation_process.next(evaluation_state, federated_test_data)

In [101]:
str(evaluation_output.metrics)

"OrderedDict([('distributor', ()), ('client_work', OrderedDict([('eval', OrderedDict([('current_round_metrics', OrderedDict([('mean_absolute_error', 0.16563305), ('loss', 0.074171424), ('num_examples', 5530), ('num_batches', 277)])), ('total_rounds_metrics', OrderedDict([('mean_absolute_error', 0.16563305), ('loss', 0.074171424), ('num_examples', 5530), ('num_batches', 277)]))]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', ())])"

#Training again foranother 12 months and testing the loss

In [103]:
NUM_ROUNDS = 12
for round_num in range(1, NUM_ROUNDS+1):
  result = training_process.next(train_state, federated_train_data_2013[round_num-1])
  train_state = result.state
  train_metrics = result.metrics
  print('round {:2d}, metrics={}'.format(round_num, train_metrics))

round  1, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.11018429), ('loss', 0.038093057), ('num_examples', 55250), ('num_batches', 2767)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round  2, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.09519737), ('loss', 0.02932922), ('num_examples', 48070), ('num_batches', 2407)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round  3, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.08842387), ('loss', 0.028131777), ('num_examples', 55300), ('num_batches', 2770)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round  4, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.08153795), ('loss', 0.024461899), ('num_examples', 52885), ('num_batches', 2650)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round  5, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.077494405), ('loss', 0.022295833), ('num_examples', 55280), ('num_batches', 2769)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round  6, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.06430122), ('loss', 0.01566607), ('num_examples', 52890), ('num_batches', 2649)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round  7, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.05229401), ('loss', 0.010851788), ('num_examples', 55285), ('num_batches', 2770)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round  8, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.056900874), ('loss', 0.01184202), ('num_examples', 55225), ('num_batches', 2766)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round  9, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.07928919), ('loss', 0.025932927), ('num_examples', 52880), ('num_batches', 2650)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round 10, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.095914684), ('loss', 0.032544922), ('num_examples', 55290), ('num_batches', 2770)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round 11, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.097309954), ('loss', 0.03555725), ('num_examples', 52890), ('num_batches', 2650)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])
round 12, metrics=OrderedDict([('distributor', ()), ('client_work', OrderedDict([('train', OrderedDict([('mean_absolute_error', 0.10038524), ('loss', 0.036801647), ('num_examples', 55290), ('num_batches', 2770)]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', OrderedDict([('update_non_finite', 0)]))])

# Testing the same test dataset to check the loss

In [104]:
evaluation_process2 = tff.learning.algorithms.build_fed_eval(model_fn)

In [105]:
evaluation_state2 = evaluation_process2.initialize()
model_weights2 = training_process.get_model_weights(train_state)
evaluation_state2 = evaluation_process2.set_model_weights(evaluation_state2, model_weights)

In [106]:
evaluation_output2 = evaluation_process2.next(evaluation_state2, federated_test_data)

In [108]:
str(evaluation_output2.metrics)

"OrderedDict([('distributor', ()), ('client_work', OrderedDict([('eval', OrderedDict([('current_round_metrics', OrderedDict([('mean_absolute_error', 0.16563308), ('loss', 0.074171394), ('num_examples', 5530), ('num_batches', 277)])), ('total_rounds_metrics', OrderedDict([('mean_absolute_error', 0.16563308), ('loss', 0.074171394), ('num_examples', 5530), ('num_batches', 277)]))]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', ())])"

In [109]:
str(evaluation_output.metrics)

"OrderedDict([('distributor', ()), ('client_work', OrderedDict([('eval', OrderedDict([('current_round_metrics', OrderedDict([('mean_absolute_error', 0.16563305), ('loss', 0.074171424), ('num_examples', 5530), ('num_batches', 277)])), ('total_rounds_metrics', OrderedDict([('mean_absolute_error', 0.16563305), ('loss', 0.074171424), ('num_examples', 5530), ('num_batches', 277)]))]))])), ('aggregator', OrderedDict([('mean_value', ()), ('mean_weight', ())])), ('finalizer', ())])"